hr{
        
    border-style: none;
    border-top-style:dotted ;
    border-color: grey;
    border-width: 3px;
    width: 100%;

}
body{
    background-color: aliceblue;
   
   
}
#pic{
    text-align: center;
    margin-left: 4%;
}
.bt{
    text-align: center;
    margin-left: 35%;  
}

ul{
   
    margin-left: 39%;
}
h2,h3{
    margin-left: 39%;  
}
a{
    margin-left: 43%;  
}
h1{
    color: blueviolet;
}
